*~
*#
.#*

*.iml

/library/src/main/java/com/nabto/edge/client/swig/*.java
/library/src/main/java/com/nabto/client/jni/*.java
/library/src/swig/nabto_client_wrap.cpp
/library/src/swig/nabto_client_wrap.h

/?/*
/.idea/*
/wrapper/build/*
/heatpump/build/*
**/.cxx/*

/build/*
/.gradle/
/library/build
local.properties
