*~
*#
.#*

*.iml

/jni/src/main/java/com/nabto/client/jni/*.java
/jni/src/jni/nabto_client_wrap.cpp
/jni/src/jni/nabto_client_wrap.h

/?/*
/.idea/*
/wrapper/build/*
/heatpump/build/*
**/.cxx/*

/build/*
/.gradle/
/jni/build
local.properties
