*~
*#
.#*

*.iml

/library/src/main/java/com/nabto/edge/client/swig/*.java
/library/src/main/java/com/nabto/client/jni/*.java
/library/src/swig/nabto_client_wrap.cpp
/library/src/swig/nabto_client_wrap.h

/?/*
/.idea/*
/wrapper/build/*
/heatpump/build/*
**/.cxx/*

/build/*
/.gradle/
/library/build
/library-ktx/build
local.properties


/demo/build/*
/demo/heatpump/build/*

/demo/.gradle/*
*/.gradle/*
*/.idea/*

**/.DS_Store
